@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to your new app.

<p>If you want to compare several parts for ACTION REQUIRED then go to "Compare parts" on the left menu and upload zip file.</p>
